.sidebar {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #565656;
  position: sticky;
  left: 0;
  top: 50px;
  padding: 50px;
  z-index: 10;
  &-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-des {
    max-width: 110px;
    text-align: right;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}
